* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
body {
  background: #eff4fd;
}
.hero {
  position: relative;
  width: 100%;
}
nav {
  display: flex;
  width: 80%;
  margin: auto;
  padding: 20px 0;
  align-items: center;
  justify-content: space-between;
  background-color: ;
}

#logo {
  width: 80px;
  height: 80px;
}
nav ul li {
  display: inline-block;
  margin: 10px 20px;
}
nav ul li a {
  color: black;
  font-weight: bold;
}
nav ul li a:hover {
  color: red;
}
.details {
  margin-left: 40px;
  margin-top: 5%;
}
.details h1 {
  font-size: 50px;
  color: #212121;
  margin-bottom: 20px;
}
.details p {
  color: orange;
  line-height: 20px;
  padding-left: 17px;
}
.details a {
  background: #212121;
  padding: 10px 18px;
  font-weight: bold;
  color: white;
  display: inline-block;
  margin: 15px 25px;
  border-radius: 10px;
}
.images {
  width: 30%;
  height: 20%;
  position: absolute;
  right: 100px;
}
.images .back {
  width: 130%;
}
.images img {
  height: 80%;
  position: absolute;
  left: 60%;
  bottom: 80%;
  transform: translateX(-50%);
  transition: bottom 1st, left 1st;
}
.images:hover .back {
  bottom: 50%;
}
.images:hover .photo {
  left: 50%;
}
.CV {
  top: 0%;
  display: block;
}
.logoj {
  display: block;
  width: 30%;
  padding-left: 20px;
}

.photo {
  border-radius: 50%;
  background-color: rgb(245, 159, 78);
  padding: 15px;
}

.information {
  font-size: serif;
  border-radius: 30px;
  border: 2px solid black;
}

.about {
  background: ;
  position: relative;
  margin: 180px 100px;
  padding: 3%;
  text-align: center;
}
.pharma {
  background: antiquewhite;
  padding-top: 10px;
}
.about p {
  text-align: center;
  padding: 20px 100px;
}
.port-card {
  margin: 10%;
  background-color: antiquewhite;
}
.Career {
  padding: 20px;
}

.port-card .card {
  display: inline-block;
  line-height: 1.5;
  margin: 35px;
}
.port-card .info {
  max-width: 300px;
  padding-left: 10px;
}
.foot {
  background-color: black;
  color: #eff4fd;
  border-radius: 20px;
  padding: 20px;
  box-sizing: border-box;
}
.foot .info-body-name1 {
  display: inline-block;
}
.foot .info-body-name2 {
  display: inline-block;
}
